<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <form action="" method="">
    <div class="control-responsive p-4 d-flex flex-column align-items-center">
      <div class="card w-50">
        <h5 class="card-header">
          Thêm phường
        </h5>
        <div class="card-body">
          <div class="form-group">
            <label for="districtRefId">ID quận</label>
            <input type="text" class="form-control" id="districtRefId" name="districtRefId" value="{{districtId}}"
              readonly>
          </div>
          <div class="form-group">
            <label for="wardName">Tên phường</label>
            <input type="text" class="form-control" id="wardName" name="wardName" placeholder="Phường 1" autofocus>
          </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-end">
          <a class="btn btn-outline-success mr-2" href="/api/controlWardDistrict" role="button">
            <i class="bi bi-skip-backward-fill"></i>
            Quay lại
          </a>
          <button type="button" class="btn btn-outline-primary" id="saveButton">
            <i class="bi bi-check2"></i>
            Lưu
          </button>
        </div>
      </div>
    </div>
  </form>

  <script>

    toastr.options.closeButton = true;
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "300",
      "timeOut": "2000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    document.addEventListener('DOMContentLoaded', function () {

      const txtWardNameInput = $('#wardName');

      // Function to send PUT request
      const sendPostRequest = async () => {
        const districtRefId = document.getElementById('districtRefId').value;
        if (!txtWardNameInput.val()) {
          toastr.error("Vui lòng điền tên phường.");
          txtWardNameInput.addClass('border-danger');
          txtWardNameInput.focus();
        }
        else {
          txtWardNameInput.removeClass('border-danger');
          try {
            const response = await fetch('https://officer-mapapp.vercel.app/api/ward/createWard', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                wardName: txtWardNameInput.val(),
                districtRefId: districtRefId
              }),
            });
            if (response.status === 200) {
              toastr.options.onHidden = () => { window.location.href = "/api/controlWardDistrict" }
              toastr.success("Thêm phường thành công.")
            } else {
              // Handle error response
              toastr.error("Phường đã tồn tại.");
            }
          } catch (error) {
            toastr.error("Có lỗi xảy ra. Vui lòng thử lại.");
          }
        }
      };

      // Add click event listeners to buttons
      const saveButton = document.getElementById('saveButton');

      if (saveButton) {
        saveButton.addEventListener('click', sendPostRequest);
      }
    });
  </script>

</body>

</html>