<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>

  <form action="" method="">
    <div class="control-responsive p-4 d-flex flex-column align-items-center">
      <div class="card w-50">
        <h5 class="card-header">
          Chỉnh sửa thông tin quận
        </h5>
        <div class="card-body">
          <div class="form-group">
            <label for="districtId">District ID</label>
            <input type="text" name="disId" id="districtId" class="form-control" readonly value="{{districtId}}">
          </div>
          <div class="form-group">
            <label for="txtDisName">District Name</label>
            <input type="text" name="disName" id="txtDisName" class="form-control" placeholder="{{districtName}}"
              autofocus>
          </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-end">
          <a class="btn btn-outline-success mr-2" href="/api/controlWardDistrict" role="button">
            <i class="bi bi-skip-backward-fill"></i>
            Quay lại
          </a>
          <button type="button" class="btn btn-outline-danger mr-2" id="deleteButton">
            <i class="bi bi-trash-fill"></i>
            Xóa quận
          </button>
          <button type="button" class="btn btn-outline-primary" id="saveButton">
            <i class="bi bi-check2"></i>
            Lưu
          </button>
        </div>
      </div>
    </div>
  </form>

  <script>
    toastr.options.closeButton = true;
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "300",
      "timeOut": "2000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    // Function to send PUT request

    const sendPutRequest = async () => {
      const districtId = document.getElementById('districtId').value
      var districtNameInput = $('#txtDisName')
      if (!districtNameInput.val()) {
        toastr.error("Vui lòng điền tên quận mới.");
        districtNameInput.addClass('border-danger');
        districtNameInput.focus();
      }
      else {
        districtNameInput.removeClass('border-danger');
        const response = await fetch(`http://localhost:3500/api/district/update-district/${districtId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            disName: districtNameInput.val()
          }),
        });

        if (response.status === 200) {
          // Handle successful response
          toastr.options.onHidden = () => { window.location.href = "/api/controlWardDistrict" }
          toastr.success("Thay đổi thông tin quận thành công.")
        } else {
          // Handle error response
          toastr.error('Tên quận đã tồn tại.');
        }
      }
    };

    // Function to send DELETE request
    const sendDeleteRequest = async () => {
      const districtId = document.getElementById('districtId').value
      try {
        const response = await fetch(`http://localhost:3500/api/district/delete-district/${districtId}`, {
          method: 'DELETE',
        });

        if (response.ok) {
          toastr.options.onHidden = () => { window.location.href = "/api/controlWardDistrict" }
          toastr.success("Xóa quận thành công.")
        } else {
          // Handle error response
          toastr.error('Xóa thất bại. Vui lòng thử lại.');
        }
      } catch (error) {
        toastr.error('Có lỗi xảy ra. Vui lòng thử lại.');
      }
    };

    // Add click event listeners to buttons
    const saveButton = document.getElementById('saveButton');
    const deleteButton = document.getElementById('deleteButton');

    if (saveButton) {
      saveButton.addEventListener('click', sendPutRequest);
    }

    if (deleteButton) {
      deleteButton.addEventListener('click', sendDeleteRequest);
    }
  </script>
</body>

</html>