<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>

  <form id="editWardForm" action="" method="">
    <div class="control-responsive p-4 d-flex flex-column align-items-center">
      <div class="card w-50">
        <h5 class="card-header">
          Chỉnh sửa thông tin phường
        </h5>
        <div class="card-body">
          <div class="form-group">
            <label for="districtRefId">ID quận</label>
            <input type="text" name="districtRefId" id="districtRefId" class="form-control" readonly
              value="{{districtRefId}}">
          </div>
          <div class="form-group">
            <label for="wardId">ID phường</label>
            <input type="text" name="wardId" id="wardId" class="form-control" readonly value="{{wardId}}">
          </div>
          <div class="form-group">
            <label for="txtWardName">Tên phường</label>
            <input type="text" name="wardName" id="txtWardName" class="form-control" placeholder="{{wardName}}"
              autofocus>
          </div>
        </div>
        <div class="card-footer text-muted d-flex justify-content-end">
          <a class="btn btn-outline-success mr-2" href="/api/controlWardDistrict" role="button">
            <i class="bi bi-skip-backward-fill"></i>
            Quay lại
          </a>
          <button type="button" class="btn btn-outline-danger mr-2" id="deleteButton">
            <i class="bi bi-trash-fill"></i>
            Xóa phường
          </button>
          <button type="button" class="btn btn-outline-primary" id="saveButton">
            <i class="bi bi-check2"></i>
            Lưu
          </button>
        </div>
      </div>
    </div>
  </form>

  <script>
    toastr.options.closeButton = true;
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-center",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "300",
      "timeOut": "2000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    document.addEventListener('DOMContentLoaded', function () {
      // Function to send PUT request
      const sendPutRequest = async () => {
        const txtWardNameInput = $('#txtWardName');
        const wardId = document.getElementById('wardId').value;
        const districtRefId = document.getElementById('districtRefId').value;
        if (!txtWardNameInput.val()) {
          toastr.error("Vui lòng điền tên phường mới.");
          txtWardNameInput.addClass('border-danger');
          txtWardNameInput.focus();
        }
        else {
          txtWardNameInput.removeClass('border-danger');
          try {
            const response = await fetch(`http://localhost:3500/api/ward/update-ward/${wardId}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                wardName: txtWardNameInput.val(),
                districtRefId: districtRefId
              }),
            });

            if (response.status === 200) {
              toastr.options.onHidden = () => { window.location.href = "/api/controlWardDistrict" }
              toastr.success("Thay đổi thông tin phường thành công.")
            } else {
              toastr.error("Tên phường đã tồn tại.");
            }
          } catch (error) {
            toastr.error("Có lỗi xảy ra. Vui lòng thử lại.");
          }
        }

      };

      // Function to send DELETE request
      const sendDeleteRequest = async () => {
        const wardId = document.getElementById('wardId').value;
        const districtRefId = document.getElementById('districtRefId').value;
        try {
          const response = await fetch(`http://localhost:3500/api/ward/delete-ward/${wardId}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              districtRefId: districtRefId
            }),
          });

          if (response.ok) {
            toastr.options.onHidden = () => { window.location.href = "/api/controlWardDistrict" }
            toastr.success("Xóa phường thành công.")
          } else {
            toastr.error("Xóa thất bại. Vui lòng thử lại.");
          }
        } catch (error) {
          toastr.error("Có lỗi xảy ra. Vui lòng thử lại.");
        }
      };

      // Add click event listeners to buttons
      const saveButton = document.getElementById('saveButton');
      const deleteButton = document.getElementById('deleteButton');

      if (saveButton) {
        saveButton.addEventListener('click', sendPutRequest);
      }

      if (deleteButton) {
        deleteButton.addEventListener('click', sendDeleteRequest);
      }
    });
  </script>
</body>

</html>