<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet" />

  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
    type="text/css" />
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

  <link href="/styles.css" rel="stylesheet" />
</head>

<body>
  <div class="container-fluid">
    <div class="row" id="main-container">
      <div class="col-md-9 mt-3 px-0">
        <input type="hidden" name="auth" id="auth" value={{authUserRole}} readonly>
        <div id="map"></div>
        <div class="bottom-bar" id="bottom-bar"></div>
      </div>
      <div class="col-md-3 py-3" id="info-panel">
        <div id="loading-pane" style="display:block">
          <div class="alert alert-secondary" role="alert">
            Đang tải dữ liệu...
          </div>
        </div>

        <div id="place-container" style="display:none">
          <div class=" card border-success text-success mb-3" id="place-info-pane">
            <div class=" card-body">
              <h5 class="card-title">
                <i class="bi bi-info-circle"></i>
                Thông tin địa điểm
              </h5>
              <p class="card-text">Chưa có dữ liệu.</p>
            </div>
          </div>

          <div id="billboard-container" style="display:none">
            <div class="card border-info text-info mb-3" id="billboard-info-pane">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="bi bi-info-circle"></i>
                  Thông tin bảng quảng cáo
                </h5>
                <p class="card-text">Chưa có dữ liệu.</p>
              </div>
            </div>
          </div>

          <div class="modal fade" id="place-info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal-title"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="info-modal-title">Các báo cáo tại điểm đặt bảng quảng cáo này</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="place-modal-body">
                  <div id="place-report-accordion">
                  </div>
                </div>
                <div class="modal-footer" id="place-modal-footer">
                  <button type="button" class="btn btn-outline-success" data-dismiss="modal">
                    <i class="bi bi-skip-backward-fill"></i>
                    Quay lại
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="billboard-info-modal" tabindex="-1" role="dialog"
            aria-labelledby="info-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="info-modal-title">Chi tiết bảng quảng cáo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="billboard-modal-body">
                  <ul class="nav nav-tabs mb-3" id="tab-content">
                    <li class="nav-item"><a class="nav-link active" href="#billboard-permits" data-toggle="tab">
                        Cấp phép mới nhất</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#billboard-reports" data-toggle="tab">Báo cáo</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="billboard-permits">
                    </div>
                    <div class="tab-pane" id="billboard-reports">
                      <div id="panel-report-accordion">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" id="billboard-modal-footer">
                  <button type="button" class="btn btn-outline-success" data-dismiss="modal">
                    <i class="bi bi-skip-backward-fill"></i>
                    Quay lại
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="free-report-info-modal" tabindex="-1" role="dialog"
            aria-labelledby="info-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="info-modal-title">Các báo cáo tại điểm này</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="free-report-modal-body">
                  <div id="free-report-accordion">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-dismiss="modal">
                    <i class="bi bi-skip-backward-fill"></i>
                    Quay lại</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        async function loadPanelDetail(item) {
          document.getElementById("billboard-permits").innerHTML = "";
          document.getElementById("panel-report-accordion").innerHTML = "";

          const info = JSON.parse(item);

          // load reports for panel
          let panelReportHtml = "";
          let reports = info.reports;

          if (reports.length === 0) {
            document.getElementById("panel-report-accordion").innerHTML += "Bảng quảng cáo này chưa bị báo cáo.";
          }
          else {
            for (let i = 0; i < reports.length; i++) {
              let report = reports[i];
              let imgDivs = "";

              if (report.reportPicture.length === 2) {
                imgDivs += `<img class="img-fluid" src="https://map-application-officer.vercel.app//api/reportImg/getImgReport/${report.reportPicture[0]}"" alt=""><br>
                                        <img class="img-fluid" src="https://map-application-officer.vercel.app//api/reportImg/getImgReport/${report.reportPicture[1]}"" alt=""><br><br>`
              }
              else if (report.reportPicture.length === 1) {
                imgDivs += `<img class="img-fluid" src="https://map-application-officer.vercel.app//api/reportImg/getImgReport/${report.reportPicture[0]}"" alt=""><br><br>`
              }

              let bodyHtml = `<h6 class="card-subtitle mb-2 text-muted">${report.address}</h6>
                                          <p class="card-text">Họ tên người gửi: <b>${report.name}</b><br>
                                                            Email: <b>${report.email}</b><br>
                                                            Số điện thoại: <b>${report.phone}</b><br>
                                                            Hình thức báo cáo: <b>${report.reportType}</b><br>
                                                            Nội dung: ${report.content}
                                                            Hình ảnh đối tượng báo cáo:<br><br>
                                                            ${imgDivs}
                                                            Tình trạng xử lí: <b style="color:${report.state == 0 ? 'red">Chưa xử lí' : report.state == 1 ? 'gold">Đang xử lí' : 'green">Đã xử lí'}</b><br>
                                                            Hình thức xử lí: <b>${report.actionHandler}</b></p>`

              panelReportHtml += `<div class="card">
                                                <div class="card-header" id="heading${i}">
                                                    <h5 class="mb-0">
                                                        <a class="btn" data-toggle="collapse" href="#collapse${i}" aria-expanded="true" aria-controls="collapse${i}">
                                                        ${report.name} (${report.email})
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapse${i}" class="collapse" aria-labelledby="heading${i}" data-parent="#place-report-accordion">
                                                    <div class="card-body">
                                                        ${bodyHtml}
                                                    </div>
                                                </div>
                                            </div>`
            }

            document.getElementById("panel-report-accordion").innerHTML = panelReportHtml;
          }

          let latestLicense;

          await fetch(`https://map-application-officer.vercel.app//api/license/getLicenseByIdPanel/${info.panelId}`)
            .then(response => response.json())
            .then(data => {
              if (data.data.length > 0) {
                let fetchedLicenses = data.data;
                fetchedLicenses.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

                latestLicense = fetchedLicenses[0];
              }
            })
            .catch(error => {
              // Handle any errors that occurred during the fetch
              console.error('Error fetching panel license:', error);
            });

          let panelLicenseHtml = '';

          if (!latestLicense) {
            document.getElementById("billboard-permits").innerHTML = '<p class="card-text">Bảng quảng cáo này chưa có yêu cầu cấp phép được duyệt.';
          }
          else {
            panelLicenseHtml = `<h6 class="card-subtitle mb-2">Thông tin quảng cáo</h6>
                                                    Nội dung quảng cáo:<br>${latestLicense.content}<br>
                                                    Hình ảnh đính kèm:<br><br>
                                                    <img class="img-fluid" src="https://map-application-officer.vercel.app//api/licenseImg/getImgLicense/${latestLicense.imageId}" alt=""><br><br>
                                </p>
                                <h6 class="card-subtitle mb-2">Thông tin công ty xin cấp phép</h6>
                                <p class="card-text">Tên công ty: <b>${latestLicense.companyName}</b><br>
                                                    Email: <b>${latestLicense.companyEmail}</b><br>
                                                    Số điện thoại: <b>${latestLicense.companyPhone}</b><br>
                                                    Địa chỉ công ty: <b>${latestLicense.companyAddress}</b><br>
                                                    Ngày bắt đầu hợp đồng: <b>${latestLicense.startDay}</b><br>
                                                    Ngày kết thúc hợp đồng: <b>${latestLicense.endDay}</b><br><br>
                                </p>`;

            document.getElementById("billboard-permits").innerHTML = panelLicenseHtml;
          }
        }

        function loadFreePointReports(reports) {
          document.getElementById("free-report-accordion").innerHTML = "";

          console.log(reports);

          let freeReportHtml = "";

          for (let i = 0; i < reports.length; i++) {
            let report = reports[i];
            let imgDivs = "";

            if (report.reportPicture.length === 2) {
              imgDivs += `<img class="img-fluid" src="https://map-application-officer.vercel.app//api/reportImg/getImgReport/${report.reportPicture[0]}"" alt=""><br>
                                        <img class="img-fluid" src="https://map-application-officer.vercel.app//api/reportImg/getImgReport/${report.reportPicture[1]}"" alt=""><br><br>`
            }
            else if (report.reportPicture.length === 1) {
              imgDivs += `<img class="img-fluid" src="https://map-application-officer.vercel.app//api/reportImg/getImgReport/${report.reportPicture[0]}"" alt=""><br><br>`
            }

            let bodyHtml = `<h6 class="card-subtitle mb-2 text-muted">${report.address}</h6>
                                          <p class="card-text">Họ tên người gửi: <b>${report.name}</b><br>
                                                            Email: <b>${report.email}</b><br>
                                                            Số điện thoại: <b>${report.phone}</b><br>
                                                            Hình thức báo cáo: <b>${report.reportType}</b><br>
                                                            Nội dung: ${report.content}
                                                            Hình ảnh đối tượng báo cáo:<br><br>
                                                            ${imgDivs}
                                                            Tình trạng xử lí: <b style="color:${report.state == 0 ? 'red">Chưa xử lí' : report.state == 1 ? 'gold">Đang xử lí' : 'green">Đã xử lí'}</b><br>
                                                            Hình thức xử lí: <b>${report.actionHandler}</b></p>`

            freeReportHtml += `<div class="card">
                                                <div class="card-header" id="heading${i}">
                                                    <h5 class="mb-0">
                                                        <a class="btn" data-toggle="collapse" href="#collapse${i}" aria-expanded="true" aria-controls="collapse${i}">
                                                        ${report.name} (${report.email})
                                                        </a>
                                                    </h5>
                                                </div>
                                                <div id="collapse${i}" class="collapse" aria-labelledby="heading${i}" data-parent="#place-report-accordion">
                                                    <div class="card-body">
                                                        ${bodyHtml}
                                                    </div>
                                                </div>
                                            </div>`
          }

          document.getElementById("free-report-accordion").innerHTML = freeReportHtml;
        }
      </script>
      <script src="/map.js" defer></script>
</body>

</html>