<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .navbar {
    top: 0px;
    z-index: 200;
    position: sticky;
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <button type="button" class="btn btn-sm btn-outline-secondary sidebar-toggle icon-menu">
        <span data-feather="menu"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z"
              fill="currentColor" />
            <path
              d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z"
              fill="currentColor" />
            <path
              d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z"
              fill="currentColor" />
          </svg></span>
      </button>
      <a class="navbar-brand" href="/">Map Application <i class="bi bi-geo-alt-fill"></i></a>
    </div>

    <ul class="navbar-nav ml-auto mr-3">
      {{#if auth}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="nav-dropdown" aria-haspopup="true"
          aria-expanded="false">
          Hello, <b>{{authUser.name}}!</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="nav-dropdown" aria-labelledby="nav-dropdown">
          <a class="dropdown-item" href="#">
            <i class="bi bi-person"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/api/user/logout">
            <i class="bi bi-box-arrow-in-left"></i>
            Logout
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/api/user/login">Login</a>
      </li>
      {{/if}}
    </ul>
  </nav>
  <nav class=" bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link side-link active" href="/">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only"></span>
          </a>
        </li>
        {{#ifCond authUser.role.[1] '===' "-1"}}
        {{#ifCond authUser.role.[0] '===' "-1"}}
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/controlWardDistrict">
            Quản lí Phường, Quận
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/controlPanelType">
            Quản lí loại hình quảng cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/controlReportType">
            Quản lí hình thức báo cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="#">
            Quản lí điểm đặt quảng cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="#">
            Quản lí bảng quảng cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="#">
            Xét duyệt yêu cầu chỉnh sửa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="#">
            Xét duyệt yêu cầu cấp phép
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/reportStatistics">
            Thống kê báo cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/registration">
            Quản lí tài khoản cán bộ
          </a>
        </li>
        {{/ifCond}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/wardStatistics">
            Thống kê điểm đặt quảng cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="#">
            Thống kê biển quảng cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="#">
            Gửi yêu cầu chỉnh sửa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/controlReport">
            Xử lí báo cáo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link side-link" href="/api/license">
            Gửi yêu cầu cấp phép quảng cáo
          </a>
        </li>
        {{/ifCond}}
      </ul>
    </div>
  </nav>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const path = window.location.pathname;

    const sideLinks = document.getElementsByClassName('side-link');

    Array.from(sideLinks).forEach((sideLink) => {
      const href = sideLink.getAttribute('href');

      if (href === path) {
        sideLink.classList.add('active');
      }

      if (href !== path && sideLink.classList.contains('active')) {
        sideLink.classList.remove('active');
      }
    });

    const sidebarToggle = document.querySelector('.sidebar-toggle');
    sidebarToggle.addEventListener('click', function () {
      document.querySelector('.sidebar').classList.toggle('active');
      if (document.querySelector('.sidebar').classList.contains('active'))
        document.querySelector('.control-responsive').style.marginLeft = '250px';
      else
        document.querySelector('.control-responsive').style.marginLeft = '0px';
    });
  </script>
</body>

</html>