body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 20px;
  bottom: 0;
  left: -300px;
  z-index: 100;
  overflow: hidden;
  padding-top: 40px;
  padding-right: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar.active {
  left: 0; /* Show the sidebar when active class is added */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover {
  font-weight: 500;
  outline: none;
  position: relative;
  color: #fff;
  background-color: #506dff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #3f5efb;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.nav-item {
  margin-top: 10px;
}

.sidebar-toggle {
  background-color: #fff;
  padding: 10px;
  margin-right: 10px;
  border: none;
}

/*  main.classList.toggle('col-md-9');
      main.classList.toggle('ml-sm-auto');
      main.classList.toggle('col-lg-10');
      main.classList.toggle('w-100'); */
.sidebar ~ .main {
  width: 100%;
}
.sidebar.active ~ .main {
  width: calc(100% - 300px);

}
