<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    {{#ifCond authUser.role.[0] '===' "-1"}}
    {{else}}
    <div class="control-responsive p-4 d-flex flex-column align-items-center">
        <div class="container">
            <h2 class="mb-4">Quản lý yêu cầu cấp phép</h2>

            <div class="row d-flex justify-content-center mb-4">
                <!-- Center the filters section -->
                <div class="col-6">
                    <div class="d-flex justify-content-between align-items-center" id="filters-container">
                        <div class="row flex-fill" id="filters">
                            <div class="form-group col-6">
                                <label for="district">Phường</label>
                                <input type="text" class="form-control" id="ward" name="ward"
                                    value="{{authUser.role.[0]}}" readonly>
                            </div>
                            <div class="form-group col-6">
                                <label for="ward">Quận</label>
                                <input type="text" class="form-control" id="district" name="district"
                                    value="{{authUser.role.[1]}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex" id="info-container">

                <div class="table-responsive">
                    <table class="table table-hover" id="licensesTable">
                        <thead>
                            <tr>
                                <th>ID Điểm đặt</th>
                                <th>ID Bảng quảng cáo</th>
                                <th>Tên công ty</th>
                                <th>Emai công ty</th>
                                <th>Điện thoại liên lạc</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody id="licensesBody">
                            <!-- points will be dynamically added here -->
                        </tbody>
                    </table>
                </div>

                <!-- Modal for detailed information -->
                <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="info-modal-title"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="info-modal-title">Thông tin chi tiết</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="modalContent">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success" data-dismiss="modal">
                                    <i class="bi bi-skip-backward-fill"></i>
                                    Quay lại
                                </button>
                                <button class="btn btn-outline-primary" id="deleteButton">
                                    <i class="bi bi-pencil-square"></i>
                                    Huỷ
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>


    <script>
        toastr.options.closeButton = true;
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "300",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        document.addEventListener('DOMContentLoaded', async function () {
            // Replace wardId and disId with actual values or variables
            var wardId = document.getElementById('ward').value;
            var disId = document.getElementById('district').value;

            // Fetch wardName
            try {
                const wardResponse = await fetch(`http://localhost:3500/api/ward/getWardById/${wardId}`);
                const wardData = await wardResponse.json();

                // Assuming the response data structure includes wardName property
                var wardName = wardData.data.wardName;

                // Set the value of the ward input field
                document.getElementById('ward').value = wardName;
            } catch (error) {
                console.error('Error fetching ward data:', error);
            }

            // Fetch disName
            try {
                const disResponse = await fetch(`http://localhost:3500/api/district/getDisById/${disId}`);
                const disData = await disResponse.json();

                // Assuming the response data structure includes disName property
                var disName = disData.data.disName;

                // Set the value of the district input field
                document.getElementById('district').value = disName;
            } catch (error) {
                console.error('Error fetching district data:', error);
            }

            // Call filterReports after fetching ward and district values
            filterReports();
        });

        async function filterReports() {
            const wardSelect = document.getElementById('ward');
            const districtSelect = document.getElementById('district');

            const wardInput = wardSelect.value;
            const districtInput = districtSelect.value;

            let url;

            if (wardInput && districtInput) {
                url = `http://localhost:3500/api/license/getLicenseByIdPointWardDis/${wardInput}/${districtInput}`;
            }

            try {
                const response = await fetch(url);
                const data = await response.json();

                if (data.status === 'OK') {
                    displayLicenses(data.data);
                } else {
                    toastr.error(`Error: ${data.message}`);
                }
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        async function displayLicenses(licenses) {
            const licensesBody = document.getElementById('licensesBody');
            licensesBody.innerHTML = '';

            if (licenses.length === 0) {
                // If no data, create a single row with a "No data" message
                const noDataRow = document.createElement('tr');
                const noDataCell = document.createElement('td');
                noDataCell.setAttribute('colspan', '10');
                noDataCell.textContent = 'Không có dữ liệu';
                noDataRow.appendChild(noDataCell);
                licensesBody.appendChild(noDataRow);
            } else {
                // If there is data, create rows for each point
                licenses.forEach(license => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                <td>${license.idPoint}</td>
                <td>${license.idPanel}</td>
                <td>${license.companyName}</td>
                <td>${license.companyEmail}</td>
                <td>${license.companyPhone}</td>
                <td style="color: ${getColorByAccept(license.isAccept)}">${formatAccept(license.isAccept)}</td>
            `;

                    row.addEventListener('dblclick', () => {
                        loadDetails(license);
                        $('#detailsModal').modal('show');
                    });

                    row.addEventListener('click', () => highlightRow(row));

                    licensesBody.appendChild(row);
                });
            }
        }

        function getColorByAccept(accept) {
            switch (accept) {
                case -1:
                    return 'red'
                case 0:
                    return 'gold';
                case 1:
                    return 'green';
                default:
                    return 'black';
            }
        }

        function formatAccept(accept) {
            switch (accept) {
                case -1:
                    return 'Bị từ chối'
                case 0:
                    return 'Chờ cấp phép';
                case 1:
                    return 'Đã cấp phép';
                default:
                    return 'Unknown';
            }
        }

        function loadDetails(licenses) {
            document.getElementById('modalContent').innerHTML = "";

            const cancelButton = document.getElementById('deleteButton');

            // Check if the licenses.isAccept is 0, then show the cancel button
            if (licenses.isAccept === 0) {
                cancelButton.style.display = 'inline-block';
            } else {
                cancelButton.style.display = 'none';
            }

            const details = `
        <p class="card-text">
            <div id="licenseId">ID yêu cầu: <b>${licenses._id}</b><br></div>
            ID điểm đặt: <b>${licenses.idPoint}</b><br>
            ID bảng quảng cáo: <b>${licenses.idPanel}</b><br>
            Nội dung: <b>${licenses.content}</b><br>
            Tên công ty: <b>${licenses.companyName}</b><br>
            Email công ty: <b>${licenses.companyEmail}</b><br>
            Điện thoại liên lạc: <b>${licenses.companyPhone}</b><br>
            Ngày bắt đầu: <b>${licenses.startDay}</b><br>
            Ngày kết thúc: <b>${licenses.endDay}</b><br>
            Tình trạng: <b style="color:${getColorByAccept(licenses.isAccept)}">${formatAccept(licenses.isAccept)}</b><br>
            Hình ảnh điểm đặt:<br><br>
            <strong>Ảnh:</strong> <img class="img-fluid" src="http://localhost:3500/api/licenseImg/getImgLicense/${licenses.imageId}" referrerpolicy="no-referrer" >
        </p>`;

            document.getElementById('modalContent').innerHTML = details;
        }

        function highlightRow(row) {
            // Remove highlight from all rows
            const rows = document.querySelectorAll('#licensesBody tr');
            rows.forEach(r => r.classList.remove('highlighted'));

            // Add highlight to the clicked row
            row.classList.add('highlighted');
        }

        document.addEventListener('DOMContentLoaded', function () {
            const deleteButton = document.getElementById('deleteButton');


            if (deleteButton) {
                deleteButton.addEventListener('click', sendDeleteRequest);
            }

        });

        async function sendDeleteRequest(event) {
            const licenseIdElement = document.getElementById('licenseId');
            console.log(licenseIdElement)
            const licenseIdText = licenseIdElement.innerText.trim();

            if (licenseIdText.startsWith('ID yêu cầu:')) {
                // Extract only the ID part
                const licenseId = licenseIdText.replace('ID yêu cầu:', '').trim();

                try {
                    const response = await fetch(`http://localhost:3500/api/license/deleteLicense/${licenseId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({

                        }),
                    });

                    const data = await response.json();

                    if (data.status === 'OK') {
                        toastr.options.onHidden = () => { window.location.href = "/api/controlLicense" }
                        toastr.success("Xoá yêu cầu thành công.")
                    } else {
                        toastr.error("Xoá thất bại.");
                    }
                } catch (error) {
                    console.error('Error deleting report:', error);
                }

                // Close the modal after updating
                $('#detailsModal').modal('hide');
            } else {
                console.log(licenseId);
            }
        }
    </script>
    {{/ifCond}}

</body>

</html>